.modal{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.262);
    position: fixed;
    top: 0;
    left: 0;
}
.modalBody{
    width: 30%;
    background-color: white;
    border-radius: 8px;
    position: relative;
    padding: 1rem;
}
.close-btn{
    padding: 0.8rem;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.button-row{
    text-align: end;
    margin-top: 1rem;
}
.input-row{
    width: 100%;
    margin-bottom: 0.5rem;
}
.input-row input{
    width: 100%;
    border: 1px solid #e3e3e3;
    padding: 0.5rem;
}
.input-row input:focus{
    outline: #cdcdcd;
}
.input-row label{
    font-size: 13px;
}